<% provide(:title, "CONTACT") %>
<div class="static-contact">
<div class="content">
	<div class="mailandtel">
  <h1 style="margin:0;">
  	Business inquiries:
	<a href="mailto:tania.k@chnd.tv"><h1 class="contact-link">tania.k@chnd.tv</h1></a>
	<br>
	General inquiries:
	<a href="mailto:chnd@chnd.tv"><h1 class="contact-link">chnd@chnd.tv</h1></a>
	<br>
	Tel.: <a class="contact-inline" href="tel:+38-095-575-33-33"><h1 class="contact-link">+38 095 575 33 33</h1></a>
	</h1></div>

	<div class="contact-info">
		<p id="column1">Don't hesitate to get in touch with us for more information.</p>
		<p>Follow us on <a class="soc-link" href="https://www.behance.net/chnd" target="_blank">Behance</a> and <a class="soc-link" href="https://vimeo.com/chained" target="_blank">Vimeo</a>.</p>
	</div>

</div>

</div>

<style>
@media (min-width: 1201px) {
	#maincontent {
		height: calc(100vh - 140px);
		min-height: 0;
	}
}
#footer {
	display: none;
}
</style>