<% provide(:title, "INFO") %>

<div class="static-info">
	<div class="independent">
   		  <h1>Chained produces high-quality audio experience in film, advertising, music and art.</h1>

<div class="info">
			<p>We are the studio specialized in commercial audio
for tv, radio and digital media. We consider interaction 
with a viewer as an art. Visuality breathes through 
sound and silence. Each viewer has got the 
heartbeat. So does the picture. We let them concur.  

<br>

<p>The future of the moving pictures starts with the
shot. The moment. It all has got its own personality. 
Its colours and flavours. Its voice. Every project we 
touch already has a voice. 
<br>We let you hear it.
	</div>
</div>


<style>
@media (min-width: 1201px) {
	#maincontent {
		height: calc(100vh - 140px);
		min-height: 0;
	}
}
	#footer {
		display: none;
	}
</style>

  
