@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1500px) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 1200px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 1199px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}

footer {
  width:100%;
  height:50px;
}

/* D E S K T O P */
@include breakpoint(desktop) {

}
/* Laptop */
@include breakpoint(laptop) {

}
/* Tablet */
@include breakpoint(tablet) {

}

/* Phablet */
@include breakpoint(phablet) {
  .push {
  	margin-top:50px;
  }
}
/* Mobile */

@include breakpoint(mobileonly) {

}

