#header {
  z-index: 999999;
  position:fixed;
  background-color: #000000;
  width: 100%;
  top: 0;
  margin:0;
}

.nav {
  margin-left:32px;
}



ul {
  list-style-type: none;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  line-height: 0.8518518518518519;
}

/*#header li.active a {
  text-decoration:underline;
}*/
#header li a:hover:after,
#header li.active a:hover:after {
  content: '';
  border-bottom: 1px solid #fff;
  display: block;
  margin-top: 1px;
  margin-bottom: -2px;
}
#header li a:hover,
#header li.active a:hover {
  text-decoration: none !important;
}

#header li.a:hover {
  cursor: pointer;
}

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2550px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1200px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 1199px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 779px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


/* D E S K T O P */
@include breakpoint(desktop) {

}
/* Laptop */
@include breakpoint(laptop) {

#header {
    padding: 44px;
}

#closebtn {
  margin-left:32px;
}

}
/* Tablet */
@include breakpoint(tablet) {
#header {
    padding: 30px 20px 30px;
}

#closebtn {
  margin-left:32px;
}
}

/* Phablet */
@include breakpoint(phablet) {

}
/* Mobile */

@include breakpoint(mobileonly) {
  #header {
      padding: 20px 20px 20px;
  }
}

@media (min-width:475px){
   .navigation{
     float:right;
   }
}

@media only screen and (max-width: 514px) {
  .navigation-tablet {
    display: none;
  }
  .navigation-mobile {
    display: block;
  }
  #prev-next {
    display:none;
  }
  #header a {
    font-size: 19px;
  }
  .navigation-project li:first-child {
    float: left;
  }
  .logo-right {
    -webkit-transition: opacity .8s ease-in;
    -moz-transition: opacity .8s ease-in;
    -ms-transition: opacity .8s ease-in;
    -o-transition: opacity .8s ease-in;
    transition: opacity .8s ease-in;
    &.mobile-hidden {
      opacity: 0;
    }
    &.mobile-none {
      display: none;
    }
  }
}
@media (min-width:780px){
  #prev-next {
    display:flex;
  }
  #prev-next-brand {
    display:none;
  }
}


@media screen and (max-width: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .social p {
    font-size: 13px;
  }
  .overlay .closebtn {
    font-size: 40px;
    color:white;
  }
}


@media screen and (min-width: 515px) {
  .overlay {
    display:none!important;
  }
  a.closebtn {
    color:white;
  }
  .navigation-mobile {
    display: none;
  }
  .navigation-tablet {
    display: block;
  }
}



/* OVERLAY MENU */


/*  Prevent vertical scroll */
html.modal-open {
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  background-color: #000000;
  z-index: 164534;
  //overflow-y: none;
  position:fixed !important;
  top:0;
  left:0;
}

.overlay-content {
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
}

.overlay a {
  text-align: left;
  text-decoration: none;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  display: block;
  transition: 0.6s;
  padding-left: 20px;
  -webkit-font-smoothing: antialiased;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 19px;
  padding: 20px
}
.overlay .logo {
  text-decoration: none;
  position: absolute;
  top: 15px;
  font-size: 19px;
  padding: 20px
}

.overlay .social {
  font-size: 13px;
  font-weight: 100;
  padding-left: 20px;
  word-spacing: 10px;
  -webkit-font-smoothing: antialiased;
  position: fixed;
  bottom: 40px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 30px;
    top: 10px;
    right: 20px;
  }
}

#menu-toggle {
  cursor: pointer;
  float:right;
  color:white;
  font-family:Canela-Light;
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
}

.social p span:hover {
  text-decoration:underline;
}
.info p span:hover {
  text-decoration:underline;
}

@media screen and (max-width: 800px) {
  .static h1 {font-size: 36px}
 
}
@media screen and (max-width: 550px) {
  .static h1 {font-size: 34px}
 
}

#header.mobile-project {
  //@media (max-width: 600px) {
  //  .navigation {
  //    display: inline-block;
  //  }
  //}
  //@media (max-width: 516px)  {
  //  .navigation {
  //    width: 100%;
  //    li:nth-child(2) {
  //      float: right;
  //    }
  //  }
  //}
}

.navigation {
  width: 100%;
  text-align: right;
  li, .logo-right {
    display: inline-block;
  }

}

.navigation-project li {
  display: none;
}
.logo-right {
  position: absolute;
  top: 0;
  left: 0;
}

