.project-top {
  padding-bottom:56.25%;
  height: 0;
  overflow: hidden;
  position: relative;
  margin-left:-20px;
  margin-right:-20px;
  object-fit: cover;

  iframe {
    top: -12.5%;
    width: 125%;
    height: 125%;
    margin: 0 -12.5%;
  }

  .bottom-center {
    top: 50%;
    transform: translateY(-50%);
  }
}

.img_wrap {
  display:block;
  flex-wrap:wrap;
  margin-top:60px;
}

.project_img {
	object-fit:contain;
	width:100%; 
}

.brandlink-mobile p {
	font-size: 13px;
}

.slider {
	    transition-duration: 0s;
}

.prev-next-brand {
	font-size: 13px;
}

p a {
	font-size:13px;
}
.info p {
      margin-bottom: 0px;
}


.credits {
	margin-bottom:70px;
	margin-top:70px;
}

.credits h1 {
  margin:0;
  text-decoration:none;

}
.credits a {
  font-family: inherit;
  word-break: break-all;
}
.credits a:hover{
    text-decoration: none;
}
.rgrid-item {

 
  font-size: 30px;
  
}


.brandlink a:hover  {
text-decoration: none;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 2150px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 799px)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 550px)  { @content ; }

  }
}






/* D E S K T O P */
@include breakpoint(desktop) {

}
/* L A P T O P */
@include breakpoint(laptop) {
    .project-top {
     margin-top: 180px;
    }
    .proj--container {
     margin: 80px 24px; 
    }
    .credits {
      margin-bottom: 70px;
      margin-top: 120px;
    }
}
/* T A B L E T */
@include breakpoint(tablet) {
  .project-top {
     margin-top: 180px;
    }
    .proj--container {
     margin-bottom: 80px; 
    }

.credits {
  margin-top:120px;
  margin-bottom: 70px;
}
.info {
  margin-top: 60px;
}
.prev-next-container {
display:grid;grid-template-columns: 250px auto 250px;
}

}
/* M O B I L E P L U S*/
@include breakpoint(phablet) {
div.flex-child {
  max-width: 400px;
}
.credits {
  margin-bottom: 70px;margin-top:70px;
}
.prev-next-container, #prev-next {
  display: none;
}
.info {
  margin-top:40px;
}
 .project-top {
     margin-top: 110px;
    }
}
/* M O B I L E */

@include breakpoint(mobileonly) {
   .project-top {
     margin-top: 110px;
    }
 .static-info{
    margin-top: 60px;
}
.info {
  margin-top:40px;
}
.proj-title {
  margin-top: 60px;
}

.img_wrap {

  margin-top:40px;
}
.credits {
  margin-top: 70px;
  margin-bottom: 70px;
}
}





.grid-container {
  display: grid;
  grid-template-columns: 350px auto 350px;
  background-color: #2196F3;

}
.grid-item {
  background-color: rgba(255, 0, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);

  font-size: 30px;
  
}

.rgrid-container {
  display: grid;
  grid-template-columns: auto 100px;
  background-color: #2196F3;
  
}
.rgrid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
 
  font-size: 30px;
  
}
.container--flex {
  display: flex;
}
.container--inline-flex {
  display: inline-flex;
}
.flex-child {
  flex: auto;

}
div.flex-child {
  word-break: break-word;
}
.flex-child a:hover{
  text-decoration:none;

}

.container--flex a:hover{
  text-decoration:none;
}

