			
html {
    
    background-color: #000000;
    
}

body {
  margin: 0px;
  padding: 0px;
 
}

.info p {
  break-inside: avoid;
}

.mailandtel {
      word-wrap: break-word;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 2550px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 779px)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 550px)  { @content ; }

  }
}




    /* D E S K T O P */
@include breakpoint(desktop) {
  #header,
  body {
    width: 70%;
    margin: auto !important;
  }

  #deskmenu a {
    font-size: 27px;
  }

  .mainandtel {
    width: 50%;
  }

}
/* L A P T O P */
@include breakpoint(laptop) {


  .mainandtel {
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
  }

  .prev-next-container a {
    font-size: 24px;
  }

  .independent {
    width: 100%;
  }

  .independent h1 {
    width: 75%;
  }

  .info-container,
  .static-info {
    margin: 140px 24px 80px;
  }

  .project-top {
    margin-top: 140px;
  }
  .info {
    column-count: 2;
    column-gap: 0;
    margin-right: 0;
  }
  .info {
    margin-top: 64px;
  }
  .prev-next-container {
    display:grid;
    grid-template-columns: 250px auto 250px;
  }

 

}
/* T A B L E T */
@include breakpoint(tablet) {

  p a {
    font-size: 24px;
  }

  .mainandtel {
    margin-bottom: -10px;
  }
  .independent h1 {
    margin-right: 150px;
  }
  .info {
    column-count: 1;
    margin-right: 150px;
  }
  .info p:first-child {
    margin-bottom:30px;
  }

  .info-container,
  .static-info {
    margin-bottom: 80px;
  }

}
/* M O B I L E P L U S*/
@include breakpoint(phablet) {

  .info-container {
    margin-top: 80px;
  }
  .independent h1 {
    margin-right: 80px;
  }
  .info {
    margin-right: 0;
    margin-top: 50px;
  }
  .info-container,
  .static-info {
    margin-bottom: 80px;
  }

  .prev-next-container {
    display: none;
  }
  .project-top {
    margin-top: 110px;
  }
}


/* M O B I L E */

@include breakpoint(mobileonly) {

	 

  .info-container {
    margin-top: 60px;
    letter-spacing: -0.188888892531395px;
  }

  .prev-next-container {
    display: none;
  }

  .project-top {
    margin-top: 110px;
  }
  .static-info {
    margin-top: 60px !important;
  }
  .independent h1 {
    margin-right: 20px;
  }
  .info p {
    padding-right: 20px !important;
  }
  .info {
    margin-top: 50px;
  }
  .proj-title {
    margin-top: 60px;
  }

  .img_wrap {
    margin-top:40px;
  }

  .info-container,
  .static-info {
    margin-bottom: 60px;
  }




}

@media (max-width: 1000px) {
  .static {
    margin: 0;
    top: 0;
    height: calc(100% - 200px);
    display: table;
    h1 {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@media (max-width: 550px) {
  .static {
    height: calc(100% - 170px);
  }
}




