	/* contact */


.static-contact {
      color: white;
}
.mailandtel > h1 {
	margin: 0!important;
	
}

.contact-link {
	margin: 0!important;
}

.contact-info p {
  line-height: 1.25;
}



@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 2150px) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 1200px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 1199px) { @content ; }
  }
   @else if $point == phablet {
     @media (max-width: 779px)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 550px)  { @content ; }

  }
}


/* D E S K T O P */
@include breakpoint(desktop) {
body, #header {
  
  width: 70%;
  margin:auto!important;
}

.mailandtel {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

}
/* Laptop */
@include breakpoint(laptop) {
 .mailandtel {
    
    width: auto;
    margin-left: 25%;
    margin-right: 25%;
  }
   .contact-info {
    column-count: 2;
    column-gap: 80px;
    margin-top: 80px;
  }
.contact {
  
  margin: 180px 30px 30px 30px;
}



}
/* Tablet */
@include breakpoint(tablet) {
.static-contact {
  margin-top: 94px;
} 
   .contact-info {
    column-count: 1;
    column-gap: 80px;
    margin-top: 60px;
    margin-right: 150px;
  }
}

/* Phablet */
@include breakpoint(phablet) {

   .contact-info {
    column-count: 1;
    column-gap: 80px;
    margin-top: 60px;
    margin-right: 0px;
  }
}

/* Mobile */
@include breakpoint(mobileonly) {

}


/* Tel fix */
a.contact-inline {
  display: inline-block;
}


/* Contact Social Links */
.contact-info a {
  font-family: "Favorit_Regular";
  /*text-decoration: underline;*/
}
.contact-info a:hover {
  cursor: pointer;
}

@media (min-width: 551px) {
  .contact-info a {
    font-size: 24px;
  }
}
@media (max-width: 550px) {
  .contact-info a {
    font-size: 19px;
  }
}


/* Margin-bottom fix */
@media (min-width: 1201px) {
  .static-contact {
    margin-bottom: 0;
    margin: 140px 24px 80px;
  }
}
@media (max-width: 1200px) {
  .static-contact {
    margin-bottom: 80px;
  }
}
@media (max-width: 550px) {
  .static-contact {
    margin-top: 60px;
    margin-bottom: 0;
  }
}


/* Contact margin can't find another fix */
@media (max-width: 550px) {
  .contact-info {
      margin-top: 50px;
  }
}
 

/* Column 1 */
@media (min-width: 1201px) {
  p#column1 {
    padding-right: 140px;
  }
} 

