	/* info */

#works-link {
	margin:0;text-decoration:underline;display:inline-block;
}


.info p {
    	line-height: 1.25;
      padding-right: 80px;
}




@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 2150px) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == phablet {
    @media (max-width: 799px)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 550px)  { @content ; }

  }
}

/* D E S K T O P */
@include breakpoint(desktop) {
body, #header {
  
  width: 70%;
  margin:auto!important;
}

.mailandtel {
    width: 50%;
    margin:auto;
    margin-bottom: 50px;
}

}
/* Laptop */
@include breakpoint(laptop) {

 .static-info {
    margin-top: 140px;
  }

 h1.independent  {
      font-size: 60px!important;
  }

}
/* Tablet */
@include breakpoint(tablet) {
 .static-info {
    margin-top:94px;
  }
  .independent  {
      font-size: 34px!important;
  }

}

/* Phablet */
@include breakpoint(phablet) {


}
/* Mobile */

@include breakpoint(mobileonly) {
.static-contact {
  margin-top: 50px;
}

}

/* Middle screens fixes */
@media (min-width: 780px) and (max-width: 1200px) {
  .info {
    column-count: 2;
    margin-right: 0;
  }
  .info p {
    padding-right: 40px;
  }
  .independent h1 {
    margin-right: 80px;
  }
}

