<!DOCTYPE html>
<html>
  <head>

    <title>CHAINED</title>
    
   <%= render 'partials/meta' %>

  </head>

  <body>
  <%= render "partials/header" %>

  <div id="maincontent" class="fade-in" data-fade-delay="250">
    <%= yield %>
</div>
  <div id="footer">
    <p><br/></p>
  </div>





  <%= javascript_include_tag 'application' %>

</body>
</html>



